@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.korean-music-page {
  @include theme-gradient($gradient-music);
  min-height: 100vh;
}

.korean-music-directory {
  max-width: 1200px;
  margin: auto;
  padding: 20px 40px;
}

.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: $color-white;
  font-size: 2rem;
  text-align: center;
}
