VITE_API_BASE=http://localhost:3000
VITE_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
VITE_EMAILJS_SERVICE_ID=service_your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=template_your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
